*{
  margin: 0;
  padding: 0;
  
}
body{
  font-family:  'Saira Condensed', sans-serif;
  font-family: 'Lato', sans-serif;;
}
/* Logo */


 /*==============Nav=====*/
 #navigation {
	background: rgb(8, 17, 63);
  background: linear-gradient(90deg, rgb(51, 64, 128) 0%, rgba(2,5,8,1) 100%);
    padding: 20px 40px;
    z-index: 100;
    width: 100%;
}
#navigation img{
  height:100px;
  width : 100px;
  border-radius: 50%;
}
#navigation .log .nav-title{
  color: white !important;
  margin: 2px;
  text-align: center;
  font-size : 20px;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-logo,
.navbar-logo:hover {
    color: #fff;
    font-weight: bold;
}
/*-
/*main Section-*/
#main {
    width: 100%;
    height: 100vh;
    background: url("./images/main-1.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -72px;
  }
    @media (max-width: 992px) {
    #main {
      margin-bottom: -58px;
    }
  }
  
  #main:before {
    content: "";
    background: rgb(174,185,238);
    background: linear-gradient(90deg, rgba(174,185,238,1) 0%, rgba(9,22,38,1) 100%);
 
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #main .main-container {
    position: absolute;
    background-image : url('images/logo.png') no-repeat ;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #main h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  #main h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 24px;
  }
  
  #main .main-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #main .main-btn:hover {
    background:  #110c53;
    border: 2px solid #270136;
  }
  
  @media (min-width: 1024px) {
    #main {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #main h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #main h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
 
/* Header Social Link */
.header-social-links {
  padding-left: 20px;
}

.header-social-links a {
  color: #fff;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.header-social-links a:hover {
  color: #ff7f5d;
}

@media (max-width: 768px) {
  .header-social-links {
    padding: 0 48px 0 0;
  }
}

.navbar-toggler i {
color: #fff;
}
.navbar-toggler{
    outline: none!important;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}
  /*========== end of Navbar=======*/
  /*====Services Section======*/
  .services {
  padding-bottom: 30px;
}

.services .des-box {
  padding: 60px 9px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 30px 0 35px 0 rgba(32, 1, 73, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .des-box::before {
  content: '';
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .des-box:hover::before {
  background: #110c53;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ec042e;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .images {
  height:200px;
  width:280px;
  margin-right: 10px;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .des-box:hover .title a, .services .des-box:hover .description {
  color: #fff;
}

.services .des-box:hover .icon i {
  color: #fff;
}
/*========end of Services ========*/
/* Counter project style starts*/
.project
{
  background: rgb(174,185,238);
  background: linear-gradient(90deg, rgba(174,185,238,1) 0%, rgba(2,5,8,1) 100%);
    /* background-image:linear-gradient(rgba(21, 1, 48, 0.5),rgba(243, 87, 87, 0.7)),
    url(./images/main-2.jpg); */
    background-position: center;
    padding-top: 180px;
    padding-bottom: 200px;
    color: white;
    background-attachment: fixed;
    margin-top: 100px;
    
}


.project i
{
    font-size: 85px;
    
}
 


.project-items h2
{
    font-weight: bolder;
    font-size: 42px;
    color: #fff;
}
.project p
{
    font-weight: bold;
    letter-spacing: 1px;
}
/*=======================================
        Counter project style Ends
=========================================*/
 
/*--------------------------------------------------------------

# Footer

--------------------------------------------------------------*/
#form{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}
/* .form-center {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  
  
} */
#footer {
  background: rgb(174,185,238);
  background: linear-gradient(90deg, rgba(174,185,238,1) 0%, rgba(2,5,8,1) 100%);
}
#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}



#footer .footer-top .social-links {
  margin-top: 30px;
  
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #200124;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ee463a;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #200124;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  /* float: left; */
 display:flex;
 align-items: center;
 justify-content: center;

 
}



@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
  }
  #footer .credits {
    padding-top: 5px;
  }
}

  

 